<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    
    <h1 class="display-3">Confessions</h1>

    <div class="confessArea">
   <% usersWithSecrets.forEach((user)=>{ %>
      <textarea  readonly rows="4" cols="25"class="secret-text"><%=user.secret%> </textarea>
   <% }) %>
  </div>
   
    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
