<%- include('partials/header') %>

<div class="container">
  
    <h1 class="submitHeading">Confession Helps</h1>
   
    <div class="submitForm-main">
    <form class="submitForm" action="/submit" method="POST">

      <div class="form-group">
        <input type="text" placeholder="What's this Confession about?" name="confessheading" id="confess-heading" >
        <textarea  rows="4" cols="50" class="form-control text-center" name="secret" placeholder="What's your secret?"></textarea>
      </div>
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>
  </div>


 
</div>
<%- include('partials/footer') %>
