
body, .jumbotron {
  background: rgb(73,176,208);
  background: linear-gradient(90deg, rgba(73,176,208,1) 0%, rgba(229,234,237,1) 48%, rgba(73,114,162,1) 100%); 
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
  background: rgb(73,176,208);
  background: linear-gradient(90deg, rgba(73,176,208,1) 0%, rgba(83,122,145,1) 47%, rgba(73,114,162,1) 100%); 
}
